---
---

*
  box-sizing: border-box

body
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif
  margin: 0
  
strong, b
  font-weight: bold

em, i
  font-style: italic

u
  text-decoration: underline

header
  text-align: center
  p
    font-size: 1.2em
    
nav
  display: flex
  flex-direction: row
  margin: 0.5em
  a
    padding-right: 1em
    color: black
    text-decoration: none

h1, h2, h3, h4, h5, h6
  font-weight: 400

main, .container
  margin: 0 1em
