---
---

*
  box-sizing: border-box

body
  font-family: sans-serif
  
strong, b
  font-weight: bold

em, i
  font-style: italic

u
  text-decoration: underline

header
  text-align: center
  p
    font-size: 1.2em
.org-todo:before
  content: "TODO: "
