---
layout: default
---

<div class="container-xl gutter-condensed mt-3 mb-3 ml-2 mr-2">
    <div class="column col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <nav class="menu">
            <h3 class="menu-heading menu-heading--black"><span class="octicon-list-unordered"></span>Categories</h3>
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
            <a href="#{{ category }}" class="menu-item CategoryButton CategoryButton--category" data-value="{{ category }}">{{ category | capitalize }} <span class="Counter">{{ site.tags[category].size }}</span></a>
            {% endfor %}
            {% else %}
            {% for category in categories_list %}
            <a href="#{{ category[0] }}" class="menu-item CategoryButton CategoryButton--tag" data-value="{{ category[0] }}">{{ category[0] | capitalize }} <span class="Counter">{{ category[1].size }}</span></a>
            {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
        </nav>
    </div>
    <div class="column col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <div class="Box Box--condensed">
            <div class="Box-header">
                <h3 class="Box-title"><span class="octicon-book"></span>Posts</h3>
            </div>
            <div id="PostBoxBody">
                {% for post in site.posts %}
                <div class="Box-row PostBox" id="post-{{ post.slug }}" data-category="{{ post.categories }}" data-title="{{ post.title }}" data-slug="{{ post.slug }}">
                    <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                    <p>{{ post.excerpt }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="js/home.js"></script> 
