<form method="POST" action="https://api.staticman.net/v2/entry/dorpga/site/master/comments" id="comments-form">
  <input name="options[redirect]" type="hidden" value="http://dorper.me{{ page.url }}?cs=1">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  
  <div class="form-control" id="comments-form-control--name">
    <label for="fields[name]">Name</label><br>
    <input name="fields[name]" type="text">
  </div>
  
  <div class="form-control" id="comments-form-control--email">
    <label for="fields[email]">E-Mail</label><br>
    <input name="fields[email]" type="email">
  </div>
  
  <div class="form-control" id="comments-form-control--message">
    <label for="fields[message]">Message</label><br>
    <textarea name="fields[message]"></textarea>
  </div>
  
  <div class="form-control" id="comments-form-control--submit">
    <input type="submit" class="button" value="Submit">
  </div>
</form>
