{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" name="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" name="article:tag">
  {% endfor %}
{% endif %}
<meta content="{{ site.title }}" name="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" name="og:title">
{% else %}
  <meta content="{{ site.title }}" name="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" name="og:type">
{% else %}
  <meta content="website" name="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" name="og:description">
{% else %}
  <meta content="{{ site.description }}" name="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" name="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" name="article:published_time">
  <meta content="{{ site.url }}/about/" name="article:author">
{% endif %}
{% if page.image %}
  <meta content="/img/srcset/{{ page.image }}" name="og:image">
{% else %}
  <meta content="/img/logo-high-resolution.png" name="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" name="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" name="article:tag">
  {% endfor %}
{% endif %}
